<!-- Google Analytics -->

<script type="text/javascript">
"use strict";

document.getElementById('tuitionTime').addEventListener('submit', getTotal);

// function printFinAid(event) {
//   event.preventDefault();
//   var aidAmount = 0;
//   aidAmount = parseInt(document.getElementById('txt-financial-aid').value, 10 ) || 0;
//   console.log(aidAmount);
//   document.getElementById('txt-compute').value = aidAmount;
// }

function getTotal(event) {
  event.preventDefault();

  var finAid = 0;
  var finAid = parseInt(document.getElementById('txt-financial-aid').value, 10) || 0;

  console.log(finAid);

  var fullTime = 24400;
  var total = fullTime - finAid;
  document.getElementById('txt-compute').value = total;
}

// function computeShit(event) {
//   event.preventDefault();

//   var dorm = document.getElementById('tuitionTime').dorm-type,
//     dormType;

//   for (var i=0; i < dorm.length; i++) {
//     if (dorm[i].checked == true) {
//       dormType = dorm[i].value;
//     }
//   }

//   var dormCost = 0;
//   switch (dormType)

// }

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65731715-1', 'auto');
  ga('send', 'pageview');


</script>

